/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/*  */


body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    color: #090909;
    max-width: 414px;
    font-size: 16px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    padding: 1em;
    position: sticky;
    top: 0;
}

header h3{
    font-size: .84rem;
    font-weight: 700;
    font-family: "Roboto";
    letter-spacing: .1px;
    padding-left: 3px;

    
}

.logo{
    display: flex;
}


a{
    color: inherit;
    text-decoration: none;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    text-decoration-style: none;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 1.5rem;
}

h1{
    font-size: 2rem;
    line-height: 1.08;
    padding-bottom: 3px;
}

.hero{
    position: relative;
}

.hero-txt{
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1em;
    padding-bottom: 1.5em;
}


.hero-txt p,
.blog-post p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
}

.hero-txt h4{
    text-transform: uppercase;
    font-weight: 400;
    font-size: .75rem;
    margin-bottom: 5px;
}


.date{
    font-size: .88rem;
    padding-top: 8px;
}

.blog-title{
    font-size: 1.5rem;
}

.blog-exerpt{
    font-size: 1rem;
    line-height: 1.25;
}


.blog-content{
    display: grid;
    grid-gap: 1.5em;
    padding: 1em;
}

button{
  border: none;
  background-color: white;
  text-decoration: underline;
  font-weight: 700;

}

.blog-post-single{
  padding-left: 1em;
  padding-right: 1em;
}

.blog-post-single p{
  margin-top: 1em;
}

.blog-post-img{
  margin-top: 2em;
  margin-bottom: 2em;
}

.blog-post-date{
  font-size: .75rem;
  margin-bottom: 1em;
}


.recent-posts{
  text-align: center;
  margin-top: 3em;
  font-size: 1rem;
  font-weight: 700;
}

















footer{
    background-color: #202020;
    text-align: center;
    justify-content: center;
    color: white;
}

























































